body {
    background-color: rgba(248, 238, 238, 0.877);
    font-size: 24px;
    color: white;
    flex-direction: column;
    margin: 0;

}

h1 {
    text-align: center;
    font-size: 48px;
}

#database-output {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: black;
}

#gauge {
    display: flex;
    justify-content: space-around;

}

#gauge_top{
    margin-top: 50px;
}

#gauge_bottom{
    margin-top: 150px;
}

.gauge-label {
    text-align: center;
}


.moyenne {
    margin-top: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;

}

#photo {
    padding: 1em;
    background-image: url("../header.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
    margin: 0;
}

#photo p {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: block;
    height: 100%;
    width: 100%;
}

#navbar {
    background-color: grey;
    display: flex;
    height: 256px;
    margin: 0;
    justify-content: space-around;

}
#navbar a{
    text-decoration: none;
}

.item_navbar {
    flex-grow: 0;
    flex-shrink: 0;
}

.moyenne a {
    text-decoration: none;
    color: black;
}

p {
    color: black;

}

a {
    color: black;
}

h1 {
    color: black;
}

.footer{
    text-align: center;
    
}