<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags and config for phone -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fotia.">
    <link rel="icon" type="image/png" href="../assets/illu-02.png" />
    <link href="../site/static/css/style.css" rel="stylesheet">
    <!-- title -->
    <title>{% block title %}{% endblock title %} - Fotia</title>

    {% block head %} {% endblock head %}
</head>

<header>
    {% block header %}
        {% include "header.html" %}
    {% endblock header %}
</header>

<body>
{% block body %}
    {% block content %}{% endblock content %}
{% endblock body %}
</body>

<footer>
    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}
</footer>

</html>