<header>
    <div id="photo">
        <p>Forêt de test</p>
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">

            <a href="\" class="item_navbar">
                <img src="/site/static/home.png" alt="Home logo" width="28px" height="28px">
            </a>
        </div>

        <div class="navbar-end">
            <a href="/temperature" class="item_navbar">Température</a>


            <a href="/vent" class="item_navbar">Vent</a>



            <a href="/humidite" class="item_navbar">Humidite</a>

        </div>
    </nav>
</header>