{% extends 'base.html' %}

{% block title %}Accueil - Fotia{% endblock title %}

{% block content %}

<div id="gauge">
    <div id="gauge_top">
        <a href="/temperature"><canvas id="gauge_temp"></canvas></a>
        <p class="gauge-label">Température : <span id="temperture_value">{{ moyenne_temperature }}°C</span></p>
        
    </div>
    <div id="gauge_bottom">

        <a href="/vent"> <canvas id="gauge_vent"></canvas></a>
        <p class="gauge-label">Vitesse du vent : <span id="wind_value">{{ moyenne_force_vent }}km/h</span></p>
    </div>
    <div id="gauge_top">
        <a href="/humidite"><canvas id="gauge_hum"></canvas></a>
        <p href="/humidite" class="gauge-label">Humidité <span id="humidity_value">{{ moyenne_humidite }}%</span></p>
    </div>

</div>

<div id="references">
    <strong>Références :</strong><br>
    <a>Température: SENDHT-22 (± 0.5°C)</a><br>
    <a>Humiditées: SENDHT-22 (± 2% RH)</a><br>
    <a>Force du vent: LEXCAN003</a><br>
</div>

<script>
    var opts = {
        angle: 0, // The span of the gauge arc
        lineWidth: 0.44, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
            length: 0.6, // // Relative to gauge radius
            strokeWidth: 0.035, // The thickness
            color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#6FADCF',   // Colors
        colorStop: '#8FC0DA',    // just experiment with them
        strokeColor: '#E0E0E0',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support

    };
    var target = document.getElementById('gauge_vent'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = 200; // set max gauge value
    gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
    gauge.animationSpeed = 75; // set animation speed (32 is default value)
    gauge.set({{ moyenne_force_vent }}); // set actual value

    var target = document.getElementById('gauge_temp'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = 50; // set max gauge value
    gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
    gauge.animationSpeed = 75; // set animation speed (32 is default value)
    gauge.set({{ moyenne_temperature }}); // set actual value

    var target = document.getElementById('gauge_hum'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = 100; // set max gauge value
    gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
    gauge.animationSpeed = 75; // set animation speed (32 is default value)
    gauge.set({{ moyenne_humidite }}); // set actual value
</script>
{% endblock content %}