<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Accueil - Fotia</title>
    <link rel="icon" href="../static/illu-02.png" />
    <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
</head>

<body>
    <div id="photo">
        <img src="../static/header.jpg">
    </div>
    <div id="navbar">

    </div>

    <div id="compteurs">
        <div class="moyenne">
            <a href="/temperature">Température:</a>
            <a href="/temperature">{{ moyenne_temperature }}</a>
            <a href="/temperature"><canvas id="gauge_temp"></canvas></a>
        </div>
        <div class="moyenne">
            <a href="/vent">Vent:</a>
            <a href="/vent">{{ moyenne_force_vent }}</a>
            <a href="/vent"> <canvas id="gauge_vent"></canvas></a>
        </div>
        <div class="moyenne">
            <a href="/humidite">Humidité:</a>
            <a href="/humidite">{{ moyenne_humidite }}</a>
            <a href="/humidite"><canvas id="gauge_hum"></canvas></a>
        </div>

    </div>

    <script>
        var opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.44, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.6, // // Relative to gauge radius
                strokeWidth: 0.035, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: false,     // If true, the min value of the gauge will be fixed
            colorStart: '#6FADCF',   // Colors
            colorStop: '#8FC0DA',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true,     // High resolution support

        };
        var target = document.getElementById('gauge_vent'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 200; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 75; // set animation speed (32 is default value)
        gauge.set({{ moyenne_force_vent }}); // set actual value

        var target = document.getElementById('gauge_temp'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 50; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 75; // set animation speed (32 is default value)
        gauge.set({{ moyenne_temperature }}); // set actual value

        var target = document.getElementById('gauge_hum'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 100; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 75; // set animation speed (32 is default value)
        gauge.set({{ moyenne_humidite }}); // set actual value
    </script>
</body>

</html>